@import "node_modules/govuk-frontend/all";

.venue-search-items {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;

}

.wf-logo {
  width: 33%;
}

.header {
  background-color: black;
  padding: 10px;
}

.aws-logo {
  width: 20%;
  float: right;
}

.govuk-footer {
  background-color: black;
}